body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #121212;
    font-family: 'Afacad Flux', sans-serif;
    color: #f1f1f1;
  }
  
  .go-button {
    font-family: 'Afacad Flux', sans-serif; 
    font-size: 16px;
    background-color: #6a0dad;
    color: #f1f1f1;
    border: 2px solid #5e0d9c;
    padding: 16px 40px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  h1 {
    font-family: 'Afacad Flux', sans-serif;
    font-size: 32px;
    color: #f1f1f1;
  }
  